button{
    width: 500px;
    height: 275px;
    border-radius: 20px;
    background-image:url(abstract-white-background-stripes-dots-vector-minimal-banner-grey-colored-sleek-texture-banners-presentations-137051578.jpg);
    margin-left: 500px;

    
    ;
}